
html, body {
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: 'Abel', Trebuchet MS, Helvetica, sans-serif;
}

.mytables {
 border-collapse: collapse;
}
.mytables td {
 border: 1px solid #eee;
 padding: 2vh;
}
.mytables td .myoutputs {
 text-align: right;
}